{% load static %}
<link rel="stylesheet" href="{% static 'books/style.css' %}" />

<h1 class="my-4 text-center">Publishers Archive</h1>
<hr />
<button type="button" class="btn btn-primary my-2 mx-2 px-4 py-2">
  <a class="text-decoration-none" href="{% url 'books:index' %}">Home</a>
</button>
<h2 class="my-4 text-center">{{publisher.publisher_name}}</h2>
<ul class="list-group">
  {% for book in books_by_publisher %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Book Name</th>
          <th scope="col">Author</th>
          <th scope="col">Author Bio</th>
          <th scope="col">Publish Date</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active">
          <th scope="row">
            <a
              href="{% url 'books:detail' book.id %}"
              class="text-decoration-none"
              >{{ book }}</a
            >
          </th>
          <td>
            <a href="{% url 'books:authors' book.writer.id %}"
              >{{book.writer}}</a
            >
          </td>
          <td>{{book.writer.author_bio}}</td>
          <td>{{book.published_date}}</td>
        </tr>
      </tbody>
    </table>
  </li>
  {% endfor %}
</ul>
